core/src/main/resources/dtd/plantilla.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- edited with XML Spy v3.5 NT (http://www.xmlspy.com) by Pedro González-Calero  (private ) -->
<!--W3C Schema generated by XML Spy v3.5 NT (http://www.xmlspy.com)-->
<xsd:schema xmlns:xsd="http://www.w3.org/2000/10/XMLSchema" elementFormDefault="qualified">
	<xsd:complexType name="fileType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element ref="v"/>
		</xsd:choice>
		<xsd:attribute name="overwrite" type="xsd:string" use="required"/>
	</xsd:complexType>
	<xsd:element name="program">
		<xsd:complexType>
			<xsd:sequence>
				<xsd:element name="repeat" type="repeatType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element name="saveto" type="savetoType" minOccurs="0" maxOccurs="unbounded"/>
				<xsd:element ref="v" minOccurs="0" maxOccurs="unbounded"/>
			</xsd:sequence>
		</xsd:complexType>
	</xsd:element>
	<xsd:complexType name="repeatType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="saveto" type="savetoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="v" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="repeat" type="repeatType" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
		<xsd:attribute name="id" use="required">
			<xsd:simpleType>
				<xsd:restriction base="xsd:string"/>
			</xsd:simpleType>
		</xsd:attribute>
	</xsd:complexType>
	<xsd:complexType name="savetoType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="file" type="fileType"/>
			<xsd:element name="text" type="textType"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:complexType name="textType" mixed="true">
		<xsd:choice minOccurs="0" maxOccurs="unbounded">
			<xsd:element name="repeat" type="repeatType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element name="saveto" type="savetoType" minOccurs="0" maxOccurs="unbounded"/>
			<xsd:element ref="v" minOccurs="0" maxOccurs="unbounded"/>
		</xsd:choice>
	</xsd:complexType>
	<xsd:element name="v">
		<xsd:simpleType>
			<xsd:restriction base="xsd:string"/>
		</xsd:simpleType>
	</xsd:element>
</xsd:schema>
